 <div class='list'>
<button name='Add movie' routerLink='/add' value='add'>Add movie</button>
<table>
<thead>
<th>Movie poster</th>
<th>Name</th>
<th>Year</th>
<th>Production-house</th>
<th>Rating</th>
<th>Type</th>
<th>Language</th>
<th>Date</th>
</thead>
<tbody *ngFor='let movie of list'>
<td><img src={{movie.image_url}}/></td>
<td>{{movie.name}}</td>
<td>{{movie.year}}</td>
<td>{{movie.production_house}}</td>
<td>{{movie.rating}}</td>
<td>{{movie.type}}</td>
<td>{{movie.language}}</td>
<td>{{movie.date}}</td><br><br>
<td><input type='button' name='edit' value='edit' (click)='onEdit(movie.id)'></td>
<td><input type='button' name='delete' value='delete' (click)='deleteMovie(movie)'></td>
</tbody>
</table>

</div>

